*{
    box-sizing: border-box;
}

body{
    background-color: lightseagreen;
}

p{
    font-size: x-large;
    color: rgb(0, 0, 0);  
}

.btn{
    margin: 40px;
     font-size: x-large;
    text-decoration: none;
    color: gray;
    background-color: azure;
    padding: 20px;
    border: 10px solid aqua;
    border-radius: 20px;
}

.btn:hover{
    border-color: blue;
    background-color: lightblue;

}

.container{
    max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.center{
    display: flex;
    padding:20px 0 20px 0;
    flex-direction: column;
    align-items: center;
}